* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(eduford_img/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.navlinks {
    flex: 1;
    text-align: right;
}

.navlinks ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navlinks ul li a {
    color: white;
    text-decoration: none;
}

.TextBox {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.TextBox h1 {
    font-size: 62px;
}

.TextBox p {
    margin: 10px 0px 40px;
    font-size: 15px;
    color: white;
}

.herobtn {
    color: white;
    text-decoration: none;
    padding: 13px 34px;
    border: white solid 1px;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
}

.herobtn:hover {
    background-color: #f44336;
    border: 1px solid #f44336;
    transition: 1s;
}

/* Hide icons on large screens */
nav .fa,
nav .fa-solid {
    display: none;
}

/*  Responsive Styles */
@media (max-width: 700px) {
    .TextBox h1 {
        font-size: 20px;
    }

    .navlinks ul li {
        display: block;
    }

    .navlinks {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    /*  Show icons only on mobile */
    nav .fa,
    nav .fa-solid {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .navlinks ul {
        padding: 30px;
    }
}
